<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="fa fa-bars"></i></div>
            <span class="android-title mdl-layout-title">
            <!--<img class="android-logo-image" src="app/images/AC-logo.png">-->
            </span>
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('1')">首页</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('2')">ICO</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('3')">项目简介</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('4')">创新优势</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('5')">核心团队</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('6')">白皮书</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('7')">联系我们</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('8')">语言</a>
                </nav>
            </div>
            <span class="android-mobile-title mdl-layout-title">
            <!--<img class="android-logo-image" src="app/images/AC-logo.png">-->
          </span>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="fa  fa-ellipsis-v"></i>
          </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">简体中文</li>
                <li class="mdl-menu__item">English</li>

            </ul>
        </div>
    </div>

    <div class=" mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="app/images/AC-logo.png">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ng-click="anchor('1')"></i>&nbsp;&nbsp;首页</a>
            <a class="mdl-navigation__link" ng-click="anchor('2')">ICO</a>
            <a class="mdl-navigation__link" ng-click="anchor('3')">项目简介</a>
            <a class="mdl-navigation__link" ng-click="anchor('4')">创新优势</a>
            <a class="mdl-navigation__link" ng-click="anchor('5')">核心团队</a>
            <a class="mdl-navigation__link" ng-click="anchor('6')">白皮书</a>
            <a class="mdl-navigation__link" ng-click="anchor('7')">联系我们</a>

        </nav>
    </div>

    <div class="android-content mdl-layout__content">
        <!--第一页-->
        <div id="1" class="android-be-together-section mdl-typography--text-center">
            <!--<section class="wrapper">
                <div class="row state-overview">
                    <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                        <section class="panel">
                            <div class="symbol terques">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="value">
                                <h1>22</h1>
                                <p>New Users</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol red">
                                <i class="fa fa-tags"></i>
                            </div>
                            <div class="value">
                                <h1>140</h1>
                                <p>Sales</p>
                            </div>
                        </section>
                    </div>


                </div>
            </section>-->
            <section class="wrapper ">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1">
                        <section class="panel">
                            <header class="panel-heading">
                                <h3>上海码以科技有限公司</h3>
                            </header>
                            <div class="panel-body profile-activity">
                                <div class="activity terques">
                                    <span>
                                      <i class="fa fa-shopping-cart"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="arrow"></div>
                                                <i class="fa fa-time"></i>
                                                <h4>公司简介</h4>
                                                <p>上海码以科技有限公司是一家区块链创业型公司，主要产品有区块链技术解决方案，数字货币钱包和以太坊技术社区</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="activity alt purple">
                                    <span>
                                      <i class="fa fa-rocket"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="arrow-alt"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>企业文化</h4>
                                                <p>我们是一家年轻，富有激情并且严谨的区块链技术型公司，团队核心成员皆来自微软、惠普、百胜等知名 500强公司。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="activity blue">
                                    <span>
                                      <i class="fa fa-bullhorn"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="arrow"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>公司产品</h4>
                                                <p>1.UR Token</p>
                                                <p>下一代的数字货币钱包,支持各种竞争币（如BAT、EOS、SNT）,ICO项目入口,数字货币的投资平台</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="activity alt green">
                                    <span>
                                      <i class="fa fa-beer"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="arrow-alt"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>
                                                    码以ICO的优势
                                                </h4>
                                                <p>对区块链和ICO不熟悉的客户，提供一站式技术解决方案</p>
                                                <p>相对于ICO平台的高昂手续费，和漫长的账期。官网直投成本低，到账速度快</p>
                                                <p>区块链技术专家+资深后台+前端开发的团队，可以提供快速、可靠、安全的ICO解决方案</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
            </section>

        </div>
        <!--第2页-->
        <div id="2" class="android-screen-section mdl-typography--text-center">
            <!--<div class="mdl-typography--display-1-color-contrast">距离众筹结束还有：</div>-->
            <!--<h4>{{h}}:{{m}}:{{s}}</h4>-->
            <section class=" ">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <section class="panel">
                            <header class="panel-heading">
                                <h3>AC Token：这是码以科技发布的代币。</h3>
                                <h4>距离众筹结束还有：</h4>
                            </header>

                            <div class="panel-body profile-activity">
                                <!--<div class="activity terques">
                                    <span>
                                      <i class="fa fa-shopping-cart"></i>
                                  </span>

                                </div>
                                <div class="activity alt purple">
                                    <span>
                                      <i class="fa fa-rocket"></i>
                                  </span>

                                </div>
                                <div class="activity blue">
                                    <span>
                                      <i class="fa fa-bullhorn"></i>
                                  </span>

                                </div>
                                <div class="activity alt green">
                                    <span>
                                      <i class="fa fa-beer"></i>
                                  </span>

                                </div>-->
                                <section class="wrapper">
                                    <div class="row state-overview">
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol yellow">
                                                    <i class="fa">{{h}}</i>
                                                </div>
                                                <div class="value">
                                                    <h1>：</h1>
                                                    <p>Days</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol terques">
                                                    <i class="fa">{{h}}</i>
                                                </div>
                                                <div class="value">
                                                    <h1>：</h1>
                                                    <p>Hours</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol red">
                                                    <i class="fa">{{m}}</i>
                                                </div>
                                                <div class="value">
                                                    <h1>：</h1>
                                                    <p>Minutes</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol blue">
                                                    <i class="fa">{{s}}</i>
                                                </div>
                                                <div class="value">
                                                    <h1 style="color:white;">:</h1>
                                                    <p>Seconds</p>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <button type="button" class="btn btn-shadow btn-round btn-lg btn-success" ng-click="isCollapsed = !isCollapsed">投资</button>
                                    <hr>
                                    <div uib-collapse="isCollapsed">
                                        <div class="well well-lg col-sm-6 col-sm-offset-3">
                                            <!--Some content-->
                                            <img class="" src="app/images/invest.jpg">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>

                </div>
            </section>

        </div>

        <!--第3页-->
        <div id="3" class="android-wear-section">
            <div class="android-wear-band">
                <div class="android-wear-band-text">

                    <div class="wrapper">
                        <div class="col-lg-8 col-lg-offset-2">
                            <!--timeline start-->
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="text-center mbot30">
                                        <h3 class="timeline-title ">产品线路图</h3>
                                        <!--<p class="t-info">This is a project timeline</p>-->
                                    </div>

                                    <div class="timeline">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon red"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="red">31 July | </h1>
                                                        <p>安卓内测版本发布：导入钱包 ，以太币交易 ，竞争币交易 ，发现和交易页面</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon green"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="green">| 31 August | </h1>
                                                        <p><a href="#">V0.1.0正式版本发布</a> IOS版本 修复内测问题
                                                            <span><a href="#" class="green">稳定后台服务器</a></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon blue"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="blue">| 31 October | </h1>
                                                        <p>V0.2.0版本发布 , Web/微信/小程序版发布 ,接入交易所行情 ,ICO月历、ICO平台、数字货币投资工具等.<span><a href="#" class="blue">URToken生态开始建设</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon purple"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="purple">| 31 December | </h1>
                                                        <p>V0.3.0版本发布: SDK/API 开放 其他公链钱包接入（如BTS、BTC） 硬件安全加密 数字货币投资平台 URToken生态基本建成</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <!--<article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon light-green"></span>
                                                        <span class="timeline-date">07:49 pm</span>
                                                        <h1 class="light-green">10 June | Friday</h1>
                                                        <p><a href="#">Jonatha Smith</a> added new milestone <span><a href="#" class="light-green">prank</a></span>                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>-->
                                    </div>

                                    <div class="clearfix">&nbsp;</div>
                                </div>
                            </section>
                            <!--timeline end-->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--第4页-->
        <div id="4" class="android-customized-section">
            <div class="warpper row">
                <div class="">
                    <h2>创新优势</h2>
                </div>
            </div>
            <div class="android-customized-section-image"></div>
        </div>

        <!--第5页-->

        <div id="5" class="android-customized-section ">
            <!--<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">第5页</div>-->
            <div class="warpper row">
                <div class="">
                    <h2>核心团队</h2>
                </div>
            </div>
            <section class="warpper row">
                <div class="row col-lg-8 col-lg-offset-2">
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>陈琳</h4>
                                    <div class="follow-ava">
                                        <img src="app/images/01_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>创始人</h5>
                                        <p>CEO</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>曾就职于微软、InfoSys等外企</p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>孙若禹</h4>
                                    <div class="follow-ava">
                                        <img src="app/images/02_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>联合创始人</h5>
                                        <p>COO</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>曾就职于百胜集团。10年项目管理经验</p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>何鹏飞
                                    </h4>
                                    <div class="follow-ava">
                                        <img src="app/images/03_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>公司职员
                                        </h5>
                                        <p>后台开发工程师</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>曾就职于惠普，易保等大型It企业
                                        </p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                </div>
                <div class="row col-lg-8 col-lg-offset-2">
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>时昌雪</h4>
                                    <div class="follow-ava">
                                        <img src="app/images/04_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>公司职员</h5>
                                        <p>前端开发工程师</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>北京工业大学研究生，负责前端产品开发</p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>侯官员</h4>
                                    <div class="follow-ava">
                                        <img src="app/images/05_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>公司职员
                                        </h5>
                                        <p>安卓开发工程师</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>多家公司的安卓开发经历，负责安卓产品开发</p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                    <div class="col-lg-4">
                        <!--follower start-->
                        <section class="panel">
                            <div class="follower">
                                <div class="panel-body">
                                    <h4>吴英
                                    </h4>
                                    <div class="follow-ava">
                                        <img src="app/images/06_p.png" width="150" height="150" alt="">
                                    </div>
                                </div>
                            </div>

                            <footer class="follower-foot">
                                <ul>
                                    <li>
                                        <h5>公司职员
                                        </h5>
                                        <p>测试开发工程师</p>
                                    </li>
                                    <li>
                                        <h5></h5>
                                        <p>同济大学计算机专业，负责产品测试工作。
                                        </p>
                                    </li>
                                </ul>
                            </footer>
                        </section>
                        <!--follower end-->
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <div id="6" class="android-wear-section">
            <div class="android-wear-band">
                <div class="android-wear-band-text wrapper">

                    <div class="wrapper">
                        <div class="col-lg-8 col-lg-offset-2">
                            <!--timeline start-->
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="text-center mbot30">
                                        <h3 class="timeline-title ">白皮书</h3>
                                        <p class="t-info">AC Token 的白皮书</p>
                                        <!--<button type="button" class="btn btn-success"><i class="fa fa-cloud-download"></i> 下载</button>-->
                                    </div>

                                    <!--<div class="timeline">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon red"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="red">31 July | </h1>
                                                        <p>安卓内测版本发布：导入钱包 ，以太币交易 ，竞争币交易 ，发现和交易页面</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon green"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="green">| 31 August | </h1>
                                                        <p><a href="#">V0.1.0正式版本发布</a> IOS版本 修复内测问题
                                                            <span><a href="#" class="green">稳定后台服务器</a></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon blue"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="blue">| 31 October | </h1>
                                                        <p>V0.2.0版本发布 , Web/微信/小程序版发布 ,接入交易所行情 ,ICO月历、ICO平台、数字货币投资工具等.<span><a href="#" class="blue">URToken生态开始建设</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon purple"></span>
                                                        <span class="timeline-date">2017年</span>
                                                        <h1 class="purple">| 31 December | </h1>
                                                        <p>V0.3.0版本发布: SDK/API 开放 其他公链钱包接入（如BTS、BTC） 硬件安全加密 数字货币投资平台 URToken生态基本建成</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>-->
                                    <section class="wrapper">
                                        <div class="row state-overview ">
                                            <div class="col-lg-4 col-sm-6 ">
                                                <a class="panel" href="app/resource/case1.pdf">
                                                    <div class="symbol terques">
                                                        <i class="fa fa-book"></i>
                                                    </div>
                                                    <div class="value">
                                                        <h1>1</h1>
                                                        <button type="button" class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> 下载</button>
                                                        <!--<p>New Users</p>-->
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <a class="panel" href="app/resource/case1.pdf">
                                                    <div class="symbol red">
                                                        <i class="fa fa-address-book-o"></i>

                                                    </div>
                                                    <div class="value">
                                                        <h1>2</h1>
                                                        <button type="button" class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> 下载</button>
                                                        <!--<p>Sales</p>-->
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <a class="panel" href="app/resource/case2.pdf">
                                                    <div class="symbol yellow">
                                                        <i class="fa fa-book"></i>
                                                    </div>
                                                    <div class="value">
                                                        <h1>3</h1>
                                                        <button type="button" class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> 下载</button>
                                                        <!--<p>Sales</p>-->
                                                    </div>
                                                </a>
                                            </div>


                                        </div>
                                    </section>
                                    <!--<div class="clearfix">&nbsp;</div>-->
                                </div>
                            </section>
                            <!--timeline end-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--<div id="7" class="android-wear-section">
            <div class="android-wear-band">
                <div class="android-wear-band-text">
                    <div class="mdl-typography--display-2 mdl-typography--font-thin">第7页</div>

                </div>
            </div>
        </div>-->



        <footer id="7" class="mdl-mega-footer ">
            <div class=" col-lg-offset-6"><h3>联系我们</h3></div>
            <div class="mdl-mega-footer--middle-section col-lg-offset-4">
                
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                    <h1 class="mdl-mega-footer--heading">Features</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Updates</a></li>
                    </ul>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                    <h1 class="mdl-mega-footer--heading">Details</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">Specs</a></li>
                        <li><a href="#">Tools</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="mdl-mega-footer--drop-down-section">
                    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                    <h1 class="mdl-mega-footer--heading">Technology</h1>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Patterns</a></li>
                        <li><a href="#">Usage</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contracts</a></li>
                    </ul>
                </div>
                
            </div>
        </footer>





        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo">©️ 2017 ACT 码以科技</div>
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
            <div class="mdl-mini-footer--right-section">
                <button class="mdl-mini-footer--social-btn"></button>
                <button class="mdl-mini-footer--social-btn"></button>
                <button class="mdl-mini-footer--social-btn"></button>
            </div>
        </footer>
    </div>

</div>