<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class=" mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button mdl-layout-title">
                <i class="fa fa-bars"></i>
            </div>
            
            <span class="mdl-layout-title ">
            <!--<img class="android-logo-image" src="app/images/AC-logo.png">-->
            <span >码以科技ICO 模版1</span>
            </span>
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('1')">首页</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('2')">公司简介</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('3')">路线图</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('4')">核心团队</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('5')">白皮书</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('6')">联系我们</a>
                    <!--<a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('7')">联系我们</a>-->
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" ng-click="anchor('7')">语言</a>
                </nav>
            </div>
            <span class="android-mobile-title mdl-layout-title">
            <!--<img class="android-logo-image" src="app/images/AC-logo.png">-->
          </span>
            <!--<button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" style="z-index:auto;" id="more-button">
            <i class="fa  fa-ellipsis-v"></i>
          </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" style="z-index:auto;" for="more-button">
                <li class="mdl-menu__item">简体中文</li>
                <li class="mdl-menu__item">English</li>

            </ul>-->
        </div>
    </div>

    <div class=" mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="app/images/AC-logo.png">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ng-click="anchor('1')"></i>首页</a>
            <a class="mdl-navigation__link" ng-click="anchor('2')">公司简介</a>
            <a class="mdl-navigation__link" ng-click="anchor('3')">路线图</a>
            <a class="mdl-navigation__link" ng-click="anchor('4')">核心团队</a>
            <a class="mdl-navigation__link" ng-click="anchor('5')">白皮书</a>
            <a class="mdl-navigation__link" ng-click="anchor('6')">联系我们</a>
            <!--<a class="mdl-navigation__link" ng-click="anchor('7')">联系我们</a>-->

        </nav>
    </div>

    <div class=" mdl-layout__content">
        <!--第一页-->
        <div id="1" class="mdl-typography--text-center">
            <section class=" ">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2>下一代数字货币钱包 ICO</h2>
                                <h3>AC Token：这是码以科技发布的代币。</h3>
                            </header>
                            <div class="panel-body profile-activity">
                                <section class="wrapper ">
                                    <div class="row state-overview col-lg-10 col-lg-offset-1">
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol terques">
                                                    <i class="fa">{{d}}</i>
                                                </div>
                                                <div class="value">
                                                    <p>Days</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol terques">
                                                    <i class="fa">{{h}}</i>
                                                </div>
                                                <div class="value">
                                                    <p>Hours</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol terques">
                                                    <i class="fa">{{m}}</i>
                                                </div>
                                                <div class="value">
                                                    <p>Minutes</p>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 ">
                                            <section class="panel">
                                                <div class="symbol terques">
                                                    <i class="fa">{{s}}</i>
                                                </div>
                                                <div class="value">
                                                    <p>Seconds</p>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div>
                                        <h4>合约地址(etherscan.io)：</h4>
                                        <a  class="btn btn-success" href="https://etherscan.io/address/0x3B95634cc0321fB9B20Ba685eB36da5c7603D1cf">0x3B95634cc0321fB9B20Ba685eB36da5c7603D1cf</a>
                                    </div>
                                    <div>
                                        <img class="" src="app/images/invest2.png">
                                    </div>
                                    <div>
                                        <a type="button" class="btn btn-success" href="app/resource/pragmasolidity.pdf">ACToken 合约代码</a> &nbsp;&nbsp;&nbsp;
                                        <a type="button" class="btn btn-success" href="app/resource/SIGMACOIN.pdf">使用以太坊钱包投资步骤</a>
                                    </div>
                                </section>

                            </div>
                        </section>
                    </div>

                </div>
            </section>

        </div>
        <!--第2页-->
        <div id="2" class="android-be-together-section mdl-typography--text-center">
            <section class="wrapper ">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1">
                        <section class="panel">
                            <header class="panel-heading">
                                <h3>上海码以科技有限公司</h3>
                            </header>
                            <div class="panel-body profile-activity">
                                <div class="activity terques">
                                    <span>
                                      <i class="fa fa-shopping-cart"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel text-left">
                                            <div class="panel-body">
                                                <div class="arrow"></div>
                                                <i class="fa fa-time"></i>
                                                <h4>公司简介</h4>
                                                <p>上海码以科技有限公司是一家区块链创业型公司，主要产品有区块链技术解决方案，数字货币钱包和以太坊技术社区</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="activity alt purple">
                                    <span>
                                      <i class="fa fa-rocket"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body text-right">
                                                <div class="arrow-alt"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>区块链技术解决方案</h4>
                                                <p>对区块链和ICO不熟悉的客户，提供一站式技术解决方案</p>
                                                <p>区块链技术专家+资深后台+前端开发的团队，可以提供快速、可靠、安全的ICO解决方案</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="activity blue">
                                    <span>
                                      <i class="fa fa-bullhorn"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body text-left">
                                                <div class="arrow"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>公司产品</h4>
                                                <p>UR Token</p>
                                                <p>下一代的数字货币钱包,支持以太币和各种竞争币，是数字货币的投资平台</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="activity alt green">
                                    <span>
                                      <i class="fa fa-beer"></i>
                                  </span>
                                    <div class="activity-desk">
                                        <div class="panel">
                                            <div class="panel-body text-right">
                                                <div class="arrow-alt"></div>
                                                <i class=" fa fa-time"></i>
                                                <h4>
                                                    码以ICO的优势
                                                </h4>
                                                <p>对区块链和ICO不熟悉的客户，提供一站式技术解决方案</p>
                                                <p>区块链技术专家+资深后台+前端开发的团队，可以提供快速、可靠、安全的ICO解决方案</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>

                </div>
            </section>

        </div>
        <!--第3页-->
        <div id="3" class="mdl-typography--text-center">
            <section class="wrapper ">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div>
                            <div class="col-lg-8 col-lg-offset-2">
                                <!--timeline start-->
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="text-center mbot30">
                                            <h3 class="timeline-title ">下一代数字货币钱包</h3>
                                            <h4 class="timeline-title ">产品路线图</h4>
                                            <!--<p class="t-info">This is a project timeline</p>-->
                                        </div>

                                        <div class="timeline">
                                            <article class="timeline-item">
                                                <div class="timeline-desk">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <span class="arrow"></span>
                                                            <span class="timeline-icon red"></span>
                                                            <span class="timeline-date">2017年</span>
                                                            <h1 class="red">| 31 July | </h1>
                                                            <p>安卓内测版本发布：导入钱包 ，以太币交易 ，竞争币交易 ，发现和交易页面</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="timeline-item alt">
                                                <div class="timeline-desk">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <span class="arrow-alt"></span>
                                                            <span class="timeline-icon green"></span>
                                                            <span class="timeline-date">2017年</span>
                                                            <h1 class="green">| 31 August | </h1>
                                                            <p><a href="#">V0.1.0正式版本发布</a> IOS版本 修复内测问题
                                                                <span><a href="#" class="green">稳定后台服务器</a></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="timeline-item">
                                                <div class="timeline-desk">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <span class="arrow"></span>
                                                            <span class="timeline-icon blue"></span>
                                                            <span class="timeline-date">2017年</span>
                                                            <h1 class="blue">| 31 October | </h1>
                                                            <p>V0.2.0版本发布 , Web/微信/小程序版发布 ,接入交易所行情 ,ICO月历、ICO平台、数字货币投资工具等.<span><a href="#" class="blue">URToken生态开始建设</a></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="timeline-item alt">
                                                <div class="timeline-desk">
                                                    <div class="panel">
                                                        <div class="panel-body">
                                                            <span class="arrow-alt"></span>
                                                            <span class="timeline-icon purple"></span>
                                                            <span class="timeline-date">2017年</span>
                                                            <h1 class="purple">| 31 December | </h1>
                                                            <p>V0.3.0版本发布: SDK/API 开放 其他公链钱包接入（如BTS、BTC） 硬件安全加密 数字货币投资平台 URToken生态基本建成</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>

                                        </div>

                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                </section>
                                <!--timeline end-->
                            </div>

                        </div>
                    </div>

                </div>
            </section>

        </div>
        <!--第4页 核心团队-->
        <div id="4" class="mdl-typography--text-center  ">
            <div class="panel-body">
                <h3 class="timeline-title">核心团队</h3>
            </div>
            <section class="col-lg-offset-1 ">
                <div class="col-lg-offset-1 wrapper">
                    <div class="mdl-card mdl-shadow--2dp col-lg-3 col-sm-12 s">
                        <div class="mdl-card__title ">
                            <image class="" src="app/images/01_p.png" style="width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">陈琳</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">创始人</a>
                            <div class="mdl-card__supporting-text">
                                华东师范大学毕业，曾就职于微软、InfoSys等外企，擅长技术开发、解决方案产品交付。以太坊技术专家，产品和技术负责人。

                            </div>
                        </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp col-lg-3">
                        <div class="mdl-card__title ">
                            <image class="" src="app/images/02_p.png" style="width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">孙若禹</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">联合创始人</a>
                            <div class="mdl-card__supporting-text">
                                &nbsp;&nbsp;&nbsp;华东师范大学毕业，曾就职于百胜集团。10年项目管理经验，拥有PMP证书。擅长协调和整合资源。负责公司产品运营，商务和销售工作
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp col-lg-3 col-sm-6">
                        <div class="mdl-card__title ">
                            <image class="" src="app/images/03_p.png" style="width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">何鹏飞</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">后台开发工程师</a>
                            <div class="mdl-card__supporting-text">
                                &nbsp;&nbsp;&nbsp;华东师范大学毕业，曾就职于惠普，易保等大型It企业，擅长node.js, angular.js, 主要负责后台开发工作和运维负责后台开发工作。

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 wrapper">
                    <div class="mdl-card mdl-shadow--2dp col-lg-3 col-sm-6">
                        <div class="mdl-card__title ">
                            <image class="" src="app/images/04_p.png" style="width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">时昌雪</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">前端开发工程师</a>
                            <div class="mdl-card__supporting-text">
                                前端开发工程师，北京工业大学研究生，负责前端产品开发。

                            </div>
                        </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp col-lg-3 col-sm-6">
                        <div class="mdl-card__title ">
                            <image class="text-center" src="app/images/05_p.png" style=" width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">侯官员</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">安卓开发工程师</a>
                            <div class="mdl-card__supporting-text">
                                安卓开发工程师，多家互联网公司的安卓开发经历，负责安卓产品开发。

                            </div>
                        </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp col-lg-3 col-sm-6">
                        <div class="mdl-card__title ">
                            <image class="" src="app/images/06_p.png" style="width:100%;height:100%;"></image>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">吴英</a>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">测试开发工程师</a>
                            <div class="mdl-card__supporting-text">
                                测试开发工程师，擅长自动化测试，性能测试和安全测试。负责产品测试工作。

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!--第5页-->
        <div id="5" class="mdl-typography--text-center wrapper ">
            <div class="panel-body">
                <h3 class="timeline-title">文件</h3>
            </div>
            <div class="row col-lg-offset-4 ">
                <div class="col-lg-2">
                    <i class="fa fa-blue fa-download fa-4x"></i>
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-blue fa-download fa-4x"></i>
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-blue fa-download fa-4x"></i>
                </div>
                <!--<div class="col-lg-2">
                    <i class="fa fa-blue fa-download fa-4x"></i>
                    <a class="fa fa-2x" href="app/resource/case1.pdf">Prospekt</a>
                </div>-->
            </div>
            <div class="row col-lg-offset-4 ">
                <div class="col-lg-2">
                    <a class="fa fa-2x" href="app/resource/case1.pdf">产品白皮书</a>
                </div>
                <div class="col-lg-2">
                    <a class="fa fa-2x" href="app/resource/case2.pdf">代币分配方案</a>
                </div>
                <div class="col-lg-2">
                    <a class="fa fa-2x" href="app/resource/case3.pdf">法律和免责声明</a>
                </div>
                <!--<div class="col-lg-2">
                    <i class="fa fa-blue fa-download fa-4x"></i>
                    <a class="fa fa-2x" href="app/resource/case1.pdf">Prospekt</a>
                </div>-->
            </div>
            
        </div>
    




    <footer id="6" class="mdl-mega-footer ">
        <div class=" col-lg-offset-6">
            <h3>联系我们</h3>
        </div>
        <div class="mdl-mega-footer--middle-section col-lg-offset-4">

            <div class="mdl-mega-footer--drop-down-section">
                <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer--heading">地址</h1>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="#">上海市长阳路1687号1号楼408室</a></li>
                    <!--<li><a href="#">Terms</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Updates</a></li>-->
                </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
                <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer--heading">微信／电话</h1>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="#">steven_k_colin</a></li>
                    <li><a href="#">13918802350</a></li>
                    <!--<li><a href="#">Resources</a></li>-->
                </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
                <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer--heading">邮件</h1>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="#">bd@aethercoder.com</a></li>
                    <!--<li><a href="#">Patterns</a></li>
                    <li><a href="#">Usage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contracts</a></li>-->
                </ul>
            </div>

        </div>
    </footer>
    <footer class="mdl-mini-footer ">
        <div class="col-lg-offset-5">
            <div class="mdl-logo ">Copyright©️ 2017-2030 ACT 码以科技</div>
            <h6>保留所有权利 | 沪ICP备16051412号-2</h6>
            <!--<ul class="mdl-mini-footer--link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>-->
        </div>
        <!--<div class="mdl-mini-footer--right-section">
            <button class="mdl-mini-footer--social-btn"></button>
            <button class="mdl-mini-footer--social-btn"></button>
            <button class="mdl-mini-footer--social-btn"></button>
        </div>-->
    </footer>
</div>

</div>