<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="fa fa-bars"></i></div>
            <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="app/images/AC-logo.png">
            </span>
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#screens">首页</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">ICO规则</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">项目简介</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">创新优势</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">核心团队</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">白皮书</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">联系我们</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">语言</a>
                </nav>
            </div>
            <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="app/images/android-logo.png">
          </span>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="fa  fa-ellipsis-v"></i>
          </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">简体中文</li>
                <li class="mdl-menu__item">English</li>

            </ul>
        </div>
    </div>

    <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="app/images/AC-white-logo.png">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href=""><i class="fa fa-home "></i>&nbsp;&nbsp;首页</a>
            <a class="mdl-navigation__link" href="">ICO规则</a>
            <a class="mdl-navigation__link" href="">项目简介</a>
            <a class="mdl-navigation__link" href="">创新优势</a>
            <a class="mdl-navigation__link" href="">核心团队</a>
            <a class="mdl-navigation__link" href="">白皮书</a>
            <a class="mdl-navigation__link" href="">联系我们</a>

        </nav>
    </div>

    <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <!--第一页-->
        <div class="android-be-together-section mdl-typography--text-center">
            <a href="#screens">
                <!--第一页-->
            </a>
        </div>
        <!--第2页-->
        <div class="android-screen-section mdl-typography--text-center">
            <a name="screens"></a>
            <div class="mdl-typography--display-1-color-contrast">第二页</div>

        </div>
        <!--第3页-->
        <div class="android-wear-section">
            <div class="android-wear-band">
                <div class="android-wear-band-text">
                    <div class="mdl-typography--display-2 mdl-typography--font-thin">第3页</div>

                </div>
            </div>
        </div>

        <!--第4页-->
        <div class="android-customized-section">
            <div class="android-customized-section-text">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">第四页</div>

            </div>
            <div class="android-customized-section-image"></div>
        </div>

        <!--第5页-->
        <div class="android-more-section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">第5页</div>

        </div>


        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo">©️ 2017 ACT 码以科技</div>
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
            <div class="mdl-mini-footer--right-section">
                <button class="mdl-mini-footer--social-btn"></button>
                <button class="mdl-mini-footer--social-btn"></button>
                <button class="mdl-mini-footer--social-btn"></button>
            </div>
        </footer>
    </div>

</div>